:root {
--color-primary: #3976A5;     
--color-secondary: #d4d4d4;   
--color-info: #a4a4a4;        
--color-accent: #000000;   

  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

}

@media (max-width : 786px) {
  :root {
  --font-size-xs: 7px;
  --font-size-sm: 11px;
  --font-size-base: 13px;
  --font-size-md: 15px;
  --font-size-lg: 17px;
  --font-size-xl: 21px;
  --font-size-xxl: 28px;
  }
}

@media (max-width : 340px) {
  :root {
  --font-size-xs: 4px;
  --font-size-sm: 8px;
  --font-size-base: 10px;
  --font-size-md: 12px;
  --font-size-lg: 15px;
  --font-size-xl: 18px;
  --font-size-xxl: 24px;
  }
}


*{
  box-sizing : border-box;
    padding: 0;
    margin: 0;
    z-index: 1;
    border: none;
    outline: none;
    &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 5px;
  }
   &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
}
body {
    background-color:  var(--color-secondary);
    font-family: sans-serif;
}


ul{
  list-style-type: none;
}

p{
  font-size: var(--font-size-md);
}